<div class="options" id="task-options">
  <h5>Filtres</h5>
  <%= candy_form('option', @options, :id => 'task-filters') do |f| %>
    <%= f.combo_box('move', 'Mouvements', [['Dernières 24h', '1'], ['2 derniers jours', '2'], ['Dernière semaine', '7'], ['Dernier mois', '31']]) %>
    <%= f.combo_box('assigned_to', 'Assigné à', User.all.collect{|u| [u.name, u.id.to_s]}) %>
    <%= f.combo_box('nature', 'Catégorie', Task.get_natures()) %>
    <%= f.text_field('search', 'Recherche') %>
    <%= f.checkbox('archive', 'Archives') %>
    <%= f.hidden_field_tag('ajax_path', dpath('project.tasks', :format => 'js'), :id => nil) %>
  <% end %>
  
  <h5>Affichage</h5>
  <%= candy_form('option', @options, :id => 'task-show') do |f| %>
    <%= f.checkbox('template', 'Aperçu') %>
    <%# task_option_radio_tag('template', [['Compact', 'item-compact'], ['Complet', 'item-full']], @options) %>
  <% end %>
</div>