<div class="task <%= @options[:template] ? 'preview' : '' %>">
  <div class="details">
    <h3><%= icon('block-closed', :id => "toggle-task-#{task.id}") %><%= link_to content_tag(:span, task.identifier, :class => 'identifier') + " #{truncate(task.name, :length => 60)}", dpath('project.task', :id => task.id, :action => 'edit') %></h3>
    <div class="inner">
      <div class="wrapper-description"><div class="description"><%= htmlize(task.description) %></div></div>
      <div class="line">
        <%= avatar(task.creator) %>
        <div class="content"><label>Crée par</label><%= link_to(task.creator.name, user_path(task.creator)) %></div>
      </div>
      <% if task.worker %>
        <div class="line">
          <%= avatar(task.worker) %>
          <div class="content"><label>Assigné à</label><%= link_to(task.worker.name, user_path(task.worker)) %></div>
        </div>
      <% else %>
        <%= task_line_detail('user', 'Assigné à', content_tag(:span, 'Non assigné', :class => "unassigned")) %>
      <% end %>
      <%= task_line_detail('comments', 'Voir les', link_to("Commentaires (#{task.comments.length})", '#', :class => 'open-comments'), :class => 'comments') %>
    </div>
  </div>
  
  <div class="overview">
    <%= show_task_state(task) %>
    <%= show_task_calendar(task) %>
    <%= show_task_estimation(task) %>
    <%= show_task_due_on(task) %>
  </div>
  <div class="operations">
    <%= hidden_field_tag('ajax_path', dpath('project.task', :id => task.id), :id => nil) %>
    <%= link_to 'X', dpath('project.task', :id => task.id), :method => :delete, :confirm => 'Êtes-vous sûr de vouloir détruire cette tâche ?', :class => 'delete' %>
  </div>
</div>