<div class="task <%= @options[:template] ? 'preview' : '' %>" id="task-<%= task.id %>">
  <div class="details">
    <h3><%= icon('block-closed', :id => "toggle-task-#{task.id}") %><%= link_to content_tag(:span, task.identifier, :class => 'identifier') + " #{truncate(task.name, :length => 60)}", dpath('project.task', :id => task.id, :action => 'edit') %></h3>
    <div class="inner">
      <div class="wrapper-description"><div class="description"><%= htmlize(task.description) %></div></div>
      <%= task_line_detail('user', 'Créé par', link_to(task.creator.name, user_path(task.creator))) %>
      <%= task_line_detail('user', 'Assigné à', (task.worker ? link_to(task.worker.name, user_path(task.worker)) : '<span class="unassigned">Non assigné</span>')) %>
      <%= task_line_detail('comments', 'Voir les', link_to("Commentaires (#{task.comments.length})", '#', :class => 'open-comments'), :class => 'comments') %>
    </div>
  </div>
  
  <div class="overview">
    <%= show_task_state(task) %>
    <%= show_task_calendar(task) %>
    <%= show_task_estimation(task) %>
    <%= show_task_due_on(task) %>
  </div>
  <div class="operations">
    <%= hidden_field_tag('ajax_path', dpath('project.task', :id => task.id), :id => nil) %>
    <%= link_to 'X', dpath('project.task', :id => task.id), :method => :delete, :confirm => 'Êtes-vous sûr de vouloir détruire cette tâche ?', :class => 'delete' %>
  </div>
</div>