<label>Suivre les tâches de :</label>
<ul class="subscriptions tap-list check">
  <% @subscriptions.each do |s| %>
    <%= ((s.new_record?) ? '<li>' : '<li class="selected">').html_safe %>
    <%= hidden_field_tag("user[subscriptions][#{s.target_id}]", (s.new_record? ? 0 : 1), :class => 'item-state') %>
    <%= avatar(s.target) %><div class="name"><%= s.target.name %></div></li>
  <% end %>
</ul>

<label>Recevoir le rapport :</label>
<ul class="frequency tap-list radio">
  <% ['morning', 'morning;noon', 'morning;noon;evening', 'hourly', 'never'].each do |frequency| %>
    <%= (f.object.send_report_every != frequency ? '<li>' : '<li class="selected">').html_safe %>
    <%= hidden_field_tag("frequency", frequency, :class => 'item-state', :id => nil) %>
    <div class="name"><%=
      case frequency
        when 'morning' then 'Matin'
        when 'morning;noon' then 'Matin et midi'
        when 'morning;noon;evening' then 'Matin, midi et soir'
        when 'hourly' then 'Une fois par heure'
        when 'never' then 'Jamais'
      end
    %></div>
  <% end %>

  <%= f.hidden_field("send_report_every", :class => 'list-value') %>
</ul>
