<div class="file-header">
  <h2><%= @document.name %></h2>
  <ul class="operations admin-tools">
    <li><%= link_to 'Modifier le document', edit_document_path(@document) %></li>
    <li><%= link_to 'Détruire le document', document_path(@document), :method => :delete, :confirm => 'Êtes-vous sur de vouloir détruire ce document ?' %></li>
  </ul>
</div>

<% if not @document.description.empty? %>
  <div class="block">
    <%= htmlize(@document.description) %>
  </div>
<% end %>

<% if not @document.url.empty? %>
  <div class="block">
    <%= link_to 'Télécharger le fichier', @document.url %>
  </div>
<% end %>
