<!DOCTYPE HTML>
<html>
<head>
  <title>Backstage</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
  <%= stylesheet_link_tag "base.css" %>
  <%= stylesheet_link_tag "layout.css" %>
  <%= stylesheet_link_tag "doorway.css" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" %>
  <script type="text/javascript">var $j = jQuery.noConflict();</script>
  <%= csrf_meta_tag %>
</head>

<body id="doorway">
  <div class="main-wrapper">
    <div class="main-header">
      <div class="top-bar"></div>
      <div class="selection">
        <div class="shadow"></div>
        <div class="logo"><%= image_tag('logo.png', :alt => 'Backstage') %></div>
        <h1>Bienvenue</h1>
      </div>
    </div>
    <div class="main-content">
      <div class="inner-space">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>