<!DOCTYPE HTML>
<html>
<head>
  <title>Backstage</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
  <%= stylesheet_link_tag "base.css" %>
  <%= stylesheet_link_tag "form.css" %>
  <%= stylesheet_link_tag "layout.css" %>
  <%= stylesheet_link_tag "code_files.css" %>
  <%= stylesheet_link_tag "tasks.css" %>
  <%= stylesheet_link_tag "machines/expositor.css" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" %>
  <script type="text/javascript">var $j = jQuery.noConflict();</script>
  <%= javascript_include_tag "backstage/base" %>
  <%= javascript_include_tag "backstage/tasks" %>
  <%= javascript_include_tag "backstage/comments" %>
  <%= javascript_include_tag "backstage/form/custom_combo" %>
  <%= javascript_include_tag "backstage/form/candy" %>
  <%= javascript_include_tag "backstage/machines/expositor" %>
  <%= javascript_include_tag "backstage/tools/base" %>
  <%= javascript_include_tag "backstage/tools/browser" %>
  <%= csrf_meta_tag %>
  
</head>

<body>
  <div class="main-wrapper">
    <div class="main-header">
      <div class="top-bar">
        <ul class="projects">
          <% Project.all.each do |p| %>
            <li><%= link_to p.name, dpath('project', :id => p.id) %></li>
          <% end %>
        </ul>
        
        <% if current_user %>
          <ul class="users">
            <li><%= link_to 'Éditer mon profil', edit_user_path(current_user) %></li>
            <li><%= link_to 'Ajouter un usager', new_user_path %></li>
            <li><%= link_to 'Déconnexion', session_path(1), :method => :delete, :class => 'disconnect' %></li>
          </ul>
        <% end %>
      </div>
      <div class="shadow"></div>
      <div class="logo"><%= image_tag('logo.png', :alt => 'Backstage') %></div>
      <% if current_project %>
        <h1><%= current_project.name %></h1>
      <% end %>
      <div class="operation">
        <%= link_icon_to('Ajouter un fichier', dpath('project.code_file', :action => 'new'), :icon => 'add') if in_section?('code') %>
        <%= link_icon_to('Ajouter un document', dpath('project.document', :action => 'new'), :icon => 'add') if in_section?('documents') %>
        <%= link_icon_to('Ajouter une tâche', dpath('project.task', :action => 'new'), :icon => 'add') if in_section?('tasks') %>
      </div>
    </div>
    <div class="main-content">
      <div class="navigations">
        <% if current_project %>
          <ul class="choices">
            <li class="first <%= in_section?('tasks') ? 'selected' : '' %>"><%= link_icon_to 'Tâches', dpath('project.tasks'), :icon => 'tasks' %></li>
            <li class="<%= in_section?('code') ? 'selected' : '' %>"><%= link_icon_to 'Code', dpath('project.code_files'), :icon => 'help' %></li>
            <li class="<%= in_section?('documents') ? 'selected' : '' %>"><%= link_icon_to 'Documents', dpath('project.documents'), :icon => 'help' %></li>
          </ul>
          <%= show_menu_code(@code_file) if in_section?('code') %>
          <%= show_menu_documents(@document) if in_section?('documents') %>
          <%= render "#{tasks_path}/options" if in_section?('tasks') %>
        <% end %>
      </div>
      
      <div class="inner-space">
        <%= yield %>
      </div>
      
      <div style="clear:both"></div>
    </div>
  </div>
</body>
</html>